<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
	JCA configuration only for JackRabbit. This examples uses Jenks.
	    
    $Id: applicationContext-jr-jca.xml,v 1.1 2005/10/10 09:20:43 costin Exp $
    -->    
<beans>
	
	<!-- Transaction manager configuration for Jenks -->
	
	<bean id="connectionTracker"
		class="org.apache.geronimo.connector.outbound.connectiontracking.ConnectionTrackingCoordinator"/>
	
	<bean id="transactionManagerImpl"
		class="org.jencks.factory.TransactionManagerFactoryBean">
		<property name="defaultTransactionTimeoutSeconds">
			<value>600</value>
		</property>
		<property name="transactionLog">
			<bean class="org.apache.geronimo.transaction.log.UnrecoverableLog"/>
		</property>
	</bean>
	
	<bean id="transactionContextManager"
		class="org.jencks.factory.TransactionContextManagerFactoryBean">
		<property name="transactionManager">
			<ref local="transactionManagerImpl"/>
		</property>
	</bean>
	
	<bean id="userTransaction"
		class="org.jencks.factory.UserTransactionFactoryBean">
		<property name="transactionContextManager">
			<ref local="transactionContextManager"/>
		</property>
		<property name="connectionTrackingCoordinator">
			<ref local="connectionTracker"/>
		</property>
	</bean>
	
	<bean id="transactionContextInitializer"
		class="org.jencks.interceptor.TransactionContextInitializer">
		<property name="associator">
			<ref local="connectionTracker"/>
		</property>
	</bean>
	
	<!-- JCA configuration -->
	<bean id="transactionSupport"
		class="org.jencks.factory.XATransactionFactoryBean">
		<property name="useTransactionCaching">
			<value>true</value>
		</property>
		<property name="useThreadCaching">
			<value>false</value>
		</property>
	</bean>

	<bean id="poolingSupport" class="org.jencks.factory.SinglePoolFactoryBean">
		<property name="maxSize">
			<value>2</value>
		</property>
		<property name="minSize">
			<value>1</value>
		</property>
		<property name="blockingTimeoutMilliseconds">
			<value>60</value>
		</property>
		<property name="idleTimeoutMinutes">
			<value>60</value>
		</property>
		<property name="matchOne">
			<value>true</value>
		</property>
		<property name="matchAll">
			<value>true</value>
		</property>
		<property name="selectOneAssumeMatch">
			<value>true</value>
		</property>
	</bean>

	<bean id="connectionManager"
		class="org.jencks.factory.ConnectionManagerFactoryBean">
		<property name="transactionSupport">
			<ref local="transactionSupport"/>
		</property>
		<property name="poolingSupport">
			<ref local="poolingSupport"/>
		</property>
		<property name="transactionContextManager">
			<ref local="transactionContextManager"/>
		</property>
		<property name="connectionTracker">
			<ref local="connectionTracker"/>
		</property>
	</bean>
	
	<!-- JackRabbit JCA specific configuration -->	
	<bean id="repositoryManagedConnectionFactory"
		class="org.apache.jackrabbit.jca.JCAManagedConnectionFactory">
		<property name="homeDir">
			<value>./xa-rep</value>
		</property>
		<property name="configFile">
			<value>src/test-config/repository-xml.xml</value>
		</property>
	</bean>

	<!-- common properties -->
	
	<bean id="jcrTransactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="userTransaction">
			<ref local="userTransaction"/>
		</property>
		<property name="transactionManager">
			<ref local="transactionManagerImpl"/>
		</property>
	</bean>

    <bean id="repository" class="org.springframework.jca.support.LocalConnectionFactoryBean">
        <property name="managedConnectionFactory"><ref local="repositoryManagedConnectionFactory"/></property>
        <property name="connectionManager"><ref local="connectionManager"/></property>
    </bean>
	
	
</beans>