<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE 
	web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"web-app_2_3.dtd">
<web-app>
	<display-name>JCR taglib examples</display-name>

	<description>Examples for the jcr taglib</description>

	<servlet>
		<servlet-name>jackrabbit</servlet-name>
		<servlet-class>
			org.apache.jackrabbit.taglib.InitServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


	<taglib>
		<taglib-uri>/taglib/jcr</taglib-uri>
		<taglib-location>
			/WEB-INF/taglib/jcr.tld
		</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>/taglib/c</taglib-uri>
		<taglib-location>
			/WEB-INF/taglib/c.tld
		</taglib-location>
	</taglib>
	
	<!--  Default repository -->
	<resource-env-ref>
		<env-entry-name>jcr/jndi/properties</env-entry-name>
		<env-entry-value>
			java.naming.factory.initial=org.apache.jackrabbit.core.jndi.provider.DummyInitialContextFactory
			java.naming.provider.url=http://www.apache.org/jackrabbit
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</resource-env-ref>

	<resource-env-ref>
		<env-entry-name>jcr/jndi/address</env-entry-name>
		<env-entry-value>jackrabbit.repository</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</resource-env-ref>

	<!--  Bean Factory  -->
	<resource-env-ref>
		<description>
			Bean Factory
		</description>
		<resource-env-ref-name>
			jcr/beanFactory
		</resource-env-ref-name>
		<resource-env-ref-type>
			org.apache.jackrabbit.taglib.bean.BeanFactory
		</resource-env-ref-type>
	</resource-env-ref>
	
	<!--  Traverser -->
	<env-entry>
		<env-entry-name>jcr/traverser/default</env-entry-name>
		<env-entry-value>org.apache.jackrabbit.taglib.traverser.PreorderTraverser</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<!--  Filter -->
	<env-entry>
		<env-entry-name>jcr/filter/default</env-entry-name>
		<env-entry-value>org.apache.jackrabbit.taglib.filter.JEXLItemFilter</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<!--  Comparator -->
	<env-entry>
		<env-entry-name>jcr/comparator/default</env-entry-name>
		<env-entry-value>org.apache.jackrabbit.taglib.comparator.JEXLItemComparator</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>	
		
	<!--  Template Engine -->
	<env-entry>
		<env-entry-name>jcr/template/engine/default</env-entry-name>
		<env-entry-value>org.apache.jackrabbit.taglib.template.SimpleTemplateEngine</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	<!--  Size calculator -->
	<env-entry>
		<env-entry-name>jcr/size/default</env-entry-name>
		<env-entry-value>org.apache.jackrabbit.taglib.size.SimpleSizeCalculator</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>		

	<!--  Anonymous login -->	
	<env-entry>
		<env-entry-name>jcr/login/anonuser</env-entry-name>
		<env-entry-value>anonymous</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>jcr/login/anonpwd</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>

</web-app>
