<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <display-name>Jackrabbit TCK candidate web application</display-name>

    <!-- ====================================================================== -->
    <!-- R E P O S I T O R Y   S T A R T U P  S E R V L E T                     -->
    <!-- ====================================================================== -->
    <servlet>
	<servlet-name>RepositoryStartup</servlet-name>
        <description>
	    Repository servlet that starts the repository and registers it to JNDI.
	    If you already have the repository registered in this appservers JNDI context,
	    you do not need to use this servlet.
	</description>
	<servlet-class>org.apache.jackrabbit.server.RepositoryStartupServlet</servlet-class>

	<init-param>
	    <param-name>log4j-config</param-name>
	    <param-value>/WEB-INF/repository/log4j.properties</param-value>
            <description>initial log4j configuration</description>
	</init-param>

	<init-param>
	    <param-name>repository-config</param-name>
	    <param-value>/WEB-INF/repository/repository.xml</param-value>
            <description>the repository config location</description>
	</init-param>

	<init-param>
	    <param-name>repository-home</param-name>
	    <param-value>jackrabbit</param-value>
            <description>the repository home</description>
	</init-param>

	<init-param>
	    <param-name>repository-name</param-name>
	    <param-value>jackrabbit.repository</param-value>
            <description>Repository Name under which the repository is registered via JNDI</description>
	</init-param>

	<!--
	    JNDI environment variables for creating the initial context
	    (all init parameters starting with java.naming.* will be added to the initial context environment).
        -->
	<init-param>
	    <param-name>java.naming.provider.url</param-name>
	    <param-value>http://www.apache.org/jackrabbit</param-value>
	</init-param>
	<init-param>
	    <param-name>java.naming.factory.initial</param-name>
	    <param-value>com.day.crx.jndi.provider.MemoryInitialContextFactory</param-value>
	</init-param>

	<load-on-startup>1</load-on-startup>
    </servlet>
</web-app>