<?xml version="1.0" encoding="UTF-8"?>
<!--
	Licensed to the Apache Software Foundation (ASF) under one or more
	contributor license agreements.  See the NOTICE file distributed with
	this work for additional information regarding copyright ownership.
	The ASF licenses this file to You under the Apache License, Version 2.0
	(the "License"); you may not use this file except in compliance with
	the License.  You may obtain a copy of the License at
	
	http://www.apache.org/licenses/LICENSE-2.0
	
	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
-->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	
	<display-name>Jackrabbit JCR Browser</display-name>

	<!-- ====================================================================== -->
	<!-- F I L T E R                                                            -->
	<!-- ====================================================================== -->

	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>org.apache.jackrabbit.browser.LoginFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>iframeIOFilter</filter-name>
		<filter-class>org.apache.jackrabbit.browser.iframeio.IFrameIOFilter</filter-class>
	</filter>	

	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/browser/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>iframeIOFilter</filter-name>
		<url-pattern>*.iframe</url-pattern>
	</filter-mapping>
	
	<!-- ====================================================================== -->
	<!-- L I S T E N E R                                                        -->
	<!-- ====================================================================== -->
	<listener>
		<listener-class>org.apache.jackrabbit.browser.JcrSessionListener</listener-class>
	</listener>

    <!-- ====================================================================== -->
    <!-- L O G G I N G   S E R V L E T                                          -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Logging</servlet-name>
        <description>The logging servlet configures the Log4J logging facility.</description>
        <servlet-class>org.apache.jackrabbit.j2ee.LoggingServlet</servlet-class>

        <init-param>
            <param-name>log4j-config</param-name>
            <param-value>/WEB-INF/log4j.xml</param-value>
            <description>initial log4j configuration</description>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
	<!-- ====================================================================== -->
	<!-- R E P O S I T O R Y   S E R V L E T                                    -->
	<!-- ====================================================================== -->
	<servlet>
		<servlet-name>Repository</servlet-name>
		<description>
			This servlet provides other servlets and jsps a common way
			to access the repository. The repository can be accessed via
			JNDI, RMI or Webdav.
		</description>
		<servlet-class>
			org.apache.jackrabbit.j2ee.RepositoryAccessServlet
		</servlet-class>
		<init-param>
			<param-name>repository-name</param-name>
			<param-value>java:comp/env/jcr/repository</param-value>
			<description>
				Repository Name that is used to retrieve it via JNDI
			</description>
		</init-param>
		<!-- init-param>
			<param-name>java.naming.provider.url</param-name>
			<param-value>http://www.apache.org/jackrabbit</param-value>
		</init-param>
		<init-param>
			<param-name>java.naming.factory.initial</param-name>
			<param-value>
				org.apache.jackrabbit.core.jndi.BindableRepositoryFactory
			</param-value>
		</init-param -->
		<load-on-startup>3</load-on-startup>
	</servlet>
	<!-- ====================================================================== -->
	<!-- W E B D A V  S E R V L E T                                              -->
	<!-- ====================================================================== -->
	<servlet>
		<servlet-name>Webdav</servlet-name>
		<description>
			The webdav servlet that connects HTTP request to the
			repository.
		</description>
		<servlet-class>
			org.apache.jackrabbit.j2ee.SimpleWebdavServlet
		</servlet-class>
		<init-param>
			<param-name>resource-path-prefix</param-name>
			<param-value>/repository</param-value>
			<description>
				defines the prefix for spooling resources out of the
				repository.
			</description>
		</init-param>
		<!--
			Optional parameter to define the value of the 'WWW-Authenticate' header
		-->
		<!--
			<init-param>
			<param-name>authenticate-header</param-name>
			<param-value>Basic realm="Jackrabbit Webdav Server"</param-value>
			<description>
			Defines the value of the 'WWW-Authenticate' header.
			</description>
			</init-param>
		-->
		<!--
			Parameter used to configure behaviour of webdav resources such as:
			- destinction between collections and non-collections
			- resource filtering
		-->
		<init-param>
			<param-name>resource-config</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
			<description>
				Defines various dav-resource configuration parameters.
			</description>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<!-- ====================================================================== -->
	<!-- W E B D A V  S E R V E R  S E R V L E T                                  -->
	<!-- ====================================================================== -->
	<servlet>
		<servlet-name>JCRWebdavServer</servlet-name>
		<description>
			The webdav servlet that connects HTTP request to the
			repository.
		</description>
		<servlet-class>
			org.apache.jackrabbit.j2ee.JCRWebdavServerServlet
		</servlet-class>
		<!--
			Optional parameter to define the value of the 'WWW-Authenticate' header
		-->
		<!--
			<init-param>
			<param-name>authenticate-header</param-name>
			<param-value>Basic realm="Jackrabbit Webdav Server"</param-value>
			<description>
			Defines the value of the 'WWW-Authenticate' header.
			</description>
			</init-param>
		-->
		<init-param>
			<param-name>resource-path-prefix</param-name>
			<param-value>/server</param-value>
			<description>
				defines the prefix for spooling resources out of the
				repository.
			</description>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<!-- ====================================================================== -->
	<!-- C O M M A N D S  S E R V L E T                                         -->
	<!-- ====================================================================== -->
	<servlet>
		<servlet-name>JCR commands</servlet-name>
		<description>JCR command servlet</description>
		<servlet-class>
			org.apache.jackrabbit.command.web.JcrCommandServlet
		</servlet-class>
		<init-param>
			<param-name>jndi.properties</param-name>
			<param-value></param-value>
		</init-param>
		<init-param>
			<param-name>jndi.address</param-name>
			<param-value>java:comp/env/jcr/repository</param-value>
		</init-param>
		<init-param>
			<param-name>catalog</param-name>
			<param-value>
				/org/apache/jackrabbit/browser/commands.xml
			</param-value>
		</init-param>
		<init-param>
			<param-name>user</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>print.success</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>success.message.key</param-name>
			<param-value>success.message</param-value>
		</init-param>
		<init-param>
			<param-name>auto.save</param-name>
			<param-value>false</param-value>
		</init-param>					
		<init-param>
			<param-name>session.key</param-name>
			<param-value>jcr.session</param-value>
		</init-param>	
		<load-on-startup>6</load-on-startup>
	</servlet>

	<!-- ====================================================================== -->
	<!-- S E R V L E T   M A P P I N G                                          -->
	<!-- ====================================================================== -->
	<servlet-mapping>
		<servlet-name>Webdav</servlet-name>
		<url-pattern>/repository/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JCRWebdavServer</servlet-name>
		<url-pattern>/server/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JCR commands</servlet-name>
		<url-pattern>/command/*</url-pattern>
	</servlet-mapping>

	<!-- ====================================================================== -->
	<!-- T A G L I B S                                                          -->
	<!-- ====================================================================== -->
	<taglib>
		<taglib-uri>http://jakarta.apache.org/taglib/string</taglib-uri>
		<taglib-location>/WEB-INF/tld/string-1.1.0.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
		<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>http://jackrabbit.apache.org/jcr-taglib</taglib-uri>
		<taglib-location>/WEB-INF/tld/jcr.tld</taglib-location>
	</taglib>	

	<!-- ====================================================================== -->
	<!-- J C R  T A G L I B   C O N F I G                                       -->
	<!-- ====================================================================== -->
	<env-entry>
		<env-entry-name>jcr/beanFactory</env-entry-name>
		<env-entry-value>
			org.apache.jackrabbit.taglib.bean.SimpleBeanFactory
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>jcr/jndi/properties</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>jcr/jndi/address</env-entry-name>
		<env-entry-value>java:comp/env/jcr/repository</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!--  Traverser -->
	<env-entry>
		<env-entry-name>jcr/traverser/default</env-entry-name>
		<env-entry-value>
			org.apache.jackrabbit.taglib.traverser.PreorderTraverser
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!--  Filter -->
	<env-entry>
		<env-entry-name>jcr/filter/default</env-entry-name>
		<env-entry-value>
			org.apache.jackrabbit.taglib.filter.JEXLItemFilter
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!--  Comparator -->
	<env-entry>
		<env-entry-name>jcr/comparator/default</env-entry-name>
		<env-entry-value>
			org.apache.jackrabbit.taglib.comparator.JEXLItemComparator
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!--  Template Engine -->
	<env-entry>
		<env-entry-name>jcr/template/engine/default</env-entry-name>
		<env-entry-value>
			org.apache.jackrabbit.taglib.template.SimpleTemplateEngine
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!--  Size calculator -->
	<env-entry>
		<env-entry-name>jcr/size/default</env-entry-name>
		<env-entry-value>
			org.apache.jackrabbit.taglib.size.SimpleSizeCalculator
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<!--  Anonymous login -->
	<env-entry>
		<env-entry-name>jcr/login/anonuser</env-entry-name>
		<env-entry-value>anonymous</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>jcr/login/anonpwd</env-entry-name>
		<env-entry-value />
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	
	
	<!-- ====================================================================== -->
	<!-- L O G I N                                                              -->
	<!-- ====================================================================== -->
	
	<security-constraint>
	  <web-resource-collection>
	    <web-resource-name>
	      Entire Application
	    </web-resource-name>
	    <url-pattern>/browser/*</url-pattern>
	  </web-resource-collection>
	  <auth-constraint>
	      <role-name>user</role-name>
	  </auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/fail_login.html</form-error-page>
		</form-login-config>
	</login-config>

</web-app>
