<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app>
    <display-name>TCK web application</display-name>

    <!-- ====================================================================== -->
    <!-- R E P O S I T O R Y   S E R V L E T                                    -->
    <!-- ====================================================================== -->
    <servlet>
        <servlet-name>Repository</servlet-name>
            <description>repository servlet that starts the repository and registers it to JNDI.</description>
        <servlet-class>org.apache.jackrabbit.tck.j2ee.RepositoryServlet</servlet-class>

        <init-param>
            <param-name>log4j-config</param-name>
            <param-value>/WEB-INF/content-repository/log4j.properties</param-value>
            <description>initial log4j configuration</description>
        </init-param>

        <init-param>
            <param-name>repository-config</param-name>
            <param-value>/WEB-INF/content-repository/repository.xml</param-value>
            <description>the repository config location</description>
        </init-param>

        <init-param>
            <param-name>repository-home</param-name>
            <param-value>tck/content-repository</param-value>
            <description>the repository home</description>
        </init-param>

        <init-param>
            <param-name>repository-name</param-name>
            <param-value>tck.repository</param-value>
            <description>Repository Name under which the repository is registered via JNDI</description>
        </init-param>

        <init-param>
            <param-name>jcr-userid</param-name>
            <param-value>superuser</param-value>
            <description>User to read/write from the repository where test results and config is stored</description>
        </init-param>

        <init-param>
            <param-name>jcr-password</param-name>
            <param-value>superuser</param-value>
            <description>User password</description>
        </init-param>

        <init-param>
            <param-name>submit-url</param-name>
            <param-value>http://www.day.com/en/product/jsr_170/tck_submit.html</param-value>
            <description>Url pointing to test result submit receiver</description>
        </init-param>

        <init-param>
            <param-name>tck-webapp-jar-path</param-name>
            <param-value>/WEB-INF/lib/tck-webapp-0.16.4.1.jar</param-value>
            <description>Path to the tck webapp jar, where the test sources reside</description>
        </init-param>

        <init-param>
            <param-name>exclude-list-url</param-name>
            <param-value>http://www.day.com/en/product/jsr_170/exclude_list.html</param-value>
            <description>Url pointing to exclude list provider</description>
        </init-param>

        <init-param>
            <param-name>check-tck-version-gif</param-name>
            <param-value>http://dev.day.com/tck.gif</param-value>
            <description>Url pointing to the tck version checker</description>
        </init-param>

        <init-param>
            <param-name>check-excludelist-version-gif</param-name>
            <param-value>http://dev.day.com/excludelist.gif</param-value>
            <description>Url pointing to the excludelist version checker</description>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
