/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  The ASF licenses this file to You
 * under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* CSS Document */

body
	{
	font-family: Verdana, Arial, Helvetica, san-serif;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	margin-top: 15px;
	vertical-align: top;
	text-align: left;
	}

br
    {
    line-height:20px;
    }

table
	{
	text-align: left;
	padding: 0px;
	margin: 0px;
	border: 0px solid #66dd44;
	}


table.content
	{
	postion: absolute;
	font-size: 10px;
	line-height: 13px;
	border: 0px solid #66dd44;
	border-top: 1px solid #cccccc;
	padding: 0px;
	margin: 0px;
	margin-top: 26px;
	margin-bottom: 26px;
	width: 718px;
	text-align: left;
	}

td.content
	{
	color: #333333;
	border: 0px solid #66dd44;
	border-bottom: 1px solid #cccccc;
	border-right: 0px solid #cccccc;
	border-left: 0px solid #cccccc;
	vertical-align: top;
	padding: 3px;
	padding-left: 10px;
	}

td.graph
    {
    font-size: 11px;
    padding-left: 10px;
    color: #333333;
    }


td.disabled
    {
    color:#999999;
    }

th.content
	{
	color: #333333;
	border: 0px solid #66dd44;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	padding: 5px;
	padding-left:10px;
	}

th.container
    {
    color:#6181A9;
    background-color:#f0f0f0;
    }

th.important
    {
    color:#B81833;
    }

.important
    {
    color:#B81833;
    }

#maintable
	{
	postion: absolute;
	font-size: 10px;
	line-height: 13px;
	border: 1px solid #000000;
	padding: 0px;
	margin: 0px;
	width: 960px;
	}



.toolcell
	{
	font-size: 10px;
	color: #999999;
	line-height: 10px;
	background-color: #000000;
	height: 18px;
	width: 960px;
	padding: 0px;
	padding-bottom: 1px;
	text-align: left;
	}

.toolcell A:link
	{
	color: #C5E2EE;
	text-decoration: none;
	}

.toolcell A:visited
	{
	color: #C5E2EE;
	text-decoration: none;
	}

.toolcell A:hover
	{
	color: #99FF33;
	text-decoration: none;
	border-bottom: 1px solid;
	}

.toolcell A:active
	{
	color: #FFFFFF;
	text-decoration: none;
	}

.leadcell
	{
	margin: 0px;
	padding: 0px;
	border: 0px solid #000000;
	width: 720px;
	height: 100px;
	background-image: url('../imgs/banner_left.jpg');
	vertical-align: top
	}

.leadcelltext
	{
	position: absolute;
	border: 0px solid #000000;
	font-size: 26px;
	line-height: 32px;
	margin-top: 5px;
	margin-left: 8px;
	color: #ffffff;
	vertical-align: top;
	}

.logocell
	{
	border-left: 1px solid #000000;
	width: 239px;
	align:right
	}

#technavcell
	{
	font-size: 10px;
	font-weight: bold;
	border: 0px solid #000000;
	border-top: 1px solid #000000;
	height: 21px;
	background-color: #6181A9;
	}

#technav
	{
	float: left;
	display: block;
	font-size: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	height: 21px;
	border: 0px solid #000000;
	padding: 0px;
	background-color: #ffffff;
	}
.technavat
	{
	cursor:default;
	float: left;
	display: block;
	font-size: 10px;
	line-height: 20px;
	font-weight: bold;
	color: #000000;
	height: 21px;
	border: 0px solid #000000;
	border-right: 1px solid #000000;
	padding: 0px 10px 0px 10px;
	background-color: #B6CAE4;
	}
#technav A:link
	{
	float: left;
	display: block;
	color: #ffffff;
	border: 0px solid #000000;
	border-right: 1px solid #000000;
	height: 21px;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	background-color: #6181A9;
	}
#technav A:visited
	{
	float: left;
	display: block;
	color: #ffffff;
	border-right: 1px solid #000000;
	height: 21px;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	background-color: #6181A9;
	}
#technav A:hover
	{
	float: left;
	display: block;
	color: #ffffff;
	border-right: 1px solid #000000;
	height: 21px;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	background-color: #000000;
	}
#technav A:active
	{
	float: left;
	display: block;
	color: #ffffff;
	border-right: 1px solid #000000;
	height: 21px;
	text-decoration: none;
	padding: 0px 10px 0px 10px;
	background-color: #6181A9;
	}

.techcontentcell
	{
	width: 718px;
	border: 0px solid #000000;
	border-top: 1px solid #000000;
	}

.relatedcell
	{
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	width: 239px;
	background-color: #EBF0F6;
	}

.claimcell
	{
	width: 715px;
	font-size: 10px;
	color: #ffffff;
	line-height: 10px;
	background-color: #000000;
	height: 18px;
	padding: 0px;
	padding-bottom: 1px;
	}

.claimcell A:link
	{
	color: #C5E2EE;
	text-decoration: none;
	}

.claimcell A:visited
	{
	color: #C5E2EE;
	text-decoration: none;
	}

.claimcell A:hover
	{
	color: #99FF33;
	text-decoration: none;
	border-bottom: 1px solid;
	}

.claimcell A:active
	{
	color: #FFFFFF;
	text-decoration: none;
	}

/* CENTRAL CONTENT AREA STYLING */

.content
	{
	position: relative;
	margin: 25px;
	font-size: 11px;
	line-height: 16px;
	color: #000000;
	}

.content A:link
	{
	color: #336600;
	text-decoration: underline;
	}

.content A:visited
	{
	color: #666666;
	text-decoration: underline;
	}

.content A:hover
	{
	color: #ffffff;
	background-color: #336600;
	text-decoration: none;
	}

.content A:active
	{
	color: #ffffff;
	background-color: #000000;
	text-decoration: none;
	}



/* TEXT STYLING */

h1, h2, h3, h4, h5, h6, p

	{
	margin: 0px;
	margin-bottom: 8px;
	font-size: 11px;
	line-height: 16px;
	font-weight:bold;
	}


h1
	{
	color: #000000;
	margin-top: 32px;
	clear: left;
	}


h2
	{
	color: #336699;
	}


h3
	{
	color: #336699;
	}

p
	{
	font-size: 11px;
	line-height: 16px;
	font-weight: normal;
	color: #000000;
	}

/* FORMS */

form
	{
	font-size: 9px;
	border-top: 0px solid #000000;
	border-bottom: 0px solid #000000;
	border-left: 0px solid #000000;
	border-right: 0px solid #000000;
	margin: 0;
	padding: 0;
	clear: left;
	}
select, textarea
	{
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 9px;
	font-weight: normal;
	display: block;
	float: left;
	padding-top: 3px;
	margin-bottom: 10px;
	}
.input
	{
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 10px;
	font-weight: normal;
	color: #184054;
	background-color: #f0f0f0;
	border: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	width:400px;
	}

.submit
	{
	cursor:default;
	width:60px;
	font-family: Verdana, Arial, Helvetica, san-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #f0f0f0;
	height: 20px;
	padding: 0px;
	padding-bottom: 1px;
	margin: 0px;
	border: 1px solid #cccccc;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	}

input.important
    {
    background-color:#B81833;
    color:#ffffff;
    }

select
	{
	color: #184054;
	background-color: #f0f0f0;
	border: 0px solid #999999;
	}
textarea
	{
	color: #184054;
	background-color: #f0f0f0;
	width: 500px;
	height: 250px;
	border: 1px solid #999999;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	}
.clearleft
	{
	clear: left;
	}
.clearboth
	{
	clear: both;
	}

.checkradio
	{
	background-color: #ffffff;
	width: 20px;
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
	margin-top: 2px;
	border: 0px solid #999999;
	}

.checkradiotext
	{
	font-size: 9px;
	font-weight: normal;
	line-height: 11px;
	width: 100px;
	color: #000000;
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
	margin-top: 4px;
	border: 0px solid #999999;
	}
